In [0]:
-- Find customers who placed orders above the average order amount.
select distinct c.first_name, c.last_name , o.total_amount
FROM customers c INNER JOIN orders o ON c.customer_id = o.customer_id WHERE o.total_amount > (select AVG(total_amount) from orders)

In [0]:
-- List all products that have been sold more than 5 times in total.
select product_name, sum(quantity) from order_details group by product_name having sum(quantity) > (select 2);

select od.product_name, sum(od.quantity) from order_details od group by product_name having sum(quantity)>5

In [0]:
--  List customers and their total quantity of products ordered.



WITH customer_orders AS (
    SELECT c.customer_id, c.first_name, SUM(od.quantity) AS total_quantity
    FROM customers c
    INNER JOIN orders o ON c.customer_id = o.customer_id
    INNER JOIN order_details od ON o.order_id = od.order_id
    GROUP BY c.customer_id, c.first_name
)

SELECT * FROM customer_orders WHERE total_quantity>3 ORDER BY total_quantity desc;

In [0]:
--Find products with their total sales revenue (price * quantity).
with product_sales as (
  select od.product_name, sum(od.price_each * od.quantity) as total_revenue from order_details od
  group by od.product_name
)
select * from product_sales where total_revenue > 1000 order by total_revenue desc;

CASE Statements (SQL IF/ELSE)

In [0]:
--Categorize each order as 'Small', 'Medium', 'Large'.

SELECT o.order_id,o.total_amount, 
      CASE
          WHEN o.total_amount<1000 THEN 'SMALL'
          WHEN o.total_amount BETWEEN 1000 and 1500 THEN 'MEDIUM'
          ELSE 'LARGE'
      END AS ORDER_SIZE 


FROM orders o

In [0]:
-- Categorize each order as 'Small', 'Medium', 'Large'.


with categorized_order as (
  select o.order_id,o.total_amount,
        Case 
          when o.total_amount < 1000 then 'SMALL'
          when o.total_amount between 1000 and 1500 then 'MEDIUM'
          else 'LARGE'
        end as ORDER_SIZE
  from orders o
)

select * from categorized_order where ORDER_SIZE = 'MEDIUM'

In [0]:
--Label customers as 'New' or 'Returning' based on order count.
SELECT c.first_name, COUNT(o.order_id) AS total_orders,
       CASE
           WHEN COUNT(o.order_id) = 1 THEN 'New'
           WHEN COUNT(o.order_id) > 1 THEN 'Returning'
           ELSE 'No Orders'
       END AS customer_type
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name;

FUNCTIONS (STRIING + DATE)

In [0]:
SELECT UPPER(c.first_name) AS FIRST_NAME_UPPERCASE from customers c

In [0]:
SELECT LOWER(c.first_name) AS FIRST_NAME_UPPERCASE from customers c

In [0]:
SELECT UPPER(CONCAT(c.first_name," ",c.last_name)) AS FULL_NAME from customers c

In [0]:
-- Extract month of each order & group orders by month.
SELECT MONTH(o.order_date) AS order_month, count(o.order_id) AS _total_orders 
FROM orders o 
GROUP BY order_month
ORDER BY `_total_orders` desc

In [0]:
-- List each customer's name + their total spend + spending category.

WITH customer_spend AS (
    SELECT c.customer_id, CONCAT(c.first_name, ' ', c.last_name) AS full_name,
           SUM(od.quantity * od.price_each) AS total_spent
    FROM customers c
    INNER JOIN orders o ON c.customer_id = o.customer_id
    INNER JOIN order_details od ON o.order_id = od.order_id
    GROUP BY c.customer_id, c.first_name, c.last_name
)

SELECT full_name, total_spent,
       CASE
           WHEN total_spent < 10000 THEN 'Bronze'
           WHEN total_spent BETWEEN 10000 AND 20000 THEN 'Silver'
           ELSE 'Gold'
       END AS customer_tier
FROM customer_spend;